<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hello Class my name is</p>
    <h1>{{first_name}} {{last_name}}</h1>

    {% for i in range(length) %}
    <!-- <p>{{[i]}}</p>  -->
        {% if i % 2 == 0 %}
        <p>We hit our condition</p>

        {% else %}
        <p> else statement</p>
        {% endif%}
    <!-- <p>{{first_name}}</p> -->
    {% endfor %}  

    {% for i in newdict %}
    <p>{{i}} - {{newdict[i]}}</p>
    {% endfor %}  
</body>
</html>