<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    <form action="/edit/{{tv_show.id}}" method = "post">
        <label for="">Title</label>
        <input type="text" name = "title" value = "{{tv_show.title}}">
        <label for="">Network</label>
        <input type="text" name = "network" value = "{{tv_show.network}}">
        <label for="">Release Date</label>
        <input type="text" name = "release_date" value = "{{tv_show.release_date}}">
        <label for="">Description</label>
        <input type="text" name = "description" value = "{{tv_show.description}}">
        <button>Update</button>
    </form>
    <a href="/show/{{tv_show.id}}">TV Show</a> | <a href="/dashboard">Home</a>
</body>
</html>