<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id = "container">
        <h1>Food</h1>
        <h1>Meatballs</h1>
        <h1>Samosa</h1>
        <form action="/buy" method = "post">
            <input type="hidden" name="food" value="meatballs">
            <label for="">Meatballs</label>
            <select name="count" id="">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
            </select>
            <label for="">First Name</label>
            <input type="text" name="fname">
            <label for="">Last Name</label>
            <input type="text" name="lname">
            <label for="">Students id</label>
            <input type="text" name="id">
            <button>Submit</button>
        </form>
        <form action="/buy_samosa" method="post">
            <input type="hidden" name="food" value="samosa">
            <label for="">Samosa</label>
            <select name="count" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <label for="">First Name</label>
            <input type="text" name="fname">
            <label for="">Last Name</label>
            <input type="text" name="lname">
            <label for="">Students id</label>
            <input type="text" name="id">
            <button>Submit</button>
        </form>
    </div>
</body>
</html>