<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Ninja</title>
</head>
<body>
    <form action="/editNinja/{{ninja.id}}" method = "post">
        <label for="">first_name</label>
        <input type="text" name = "first_name" value = "{{ninja.first_name}}">
        <label for="">last_name</label>
        <input type="text" name = "last_name" value = "{{ninja.last_name}}">
        <label for="">Age</label>
        <input type="text" name = "age" value = "{{ninja.age}}">
        <button>Update</button>
    </form>
    <a href="/show_ninja/{{ninja.id}}">Show Ninja</a> | <a href="/">Home</a>
</body>
</html>